<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136642145273-6762gpsacf6ugsm7lncaccr0ckpcd29p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136642145273-6762gpsacf6ugsm7lncaccr0ckpcd29p</string>
	<key>API_KEY</key>
	<string>AIzaSyARZs_lQ3jMRxowmnSCY0KMmlnejZgvxH0</string>
	<key>GCM_SENDER_ID</key>
	<string>136642145273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dynamicgentis.isolaApp</string>
	<key>PROJECT_ID</key>
	<string>isola-b2dd8</string>
	<key>STORAGE_BUCKET</key>
	<string>isola-b2dd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136642145273:ios:c4191340657044a07beb28</string>
</dict>
</plist>